<div class="show_box">
<h3 onclick="closeBoxes()">close</h3>
  <div class="show_internal">
    <div class="show_top">
      <h3 class="comment" onclick="showComments()">comment<span>▼</span></h3>
      <h3 class="look" onclick="showLook()">look<span>▶</span></h3>
      <div class="show_top_right">
        <div class="clipnumber">
          50 clips
        </div>
      </div>
    </div>
    <div class="show_thelook">
      {{ctrl.getone(looks)}}
      <img src="{{ctrl.looks}}">
      <p class="caption">{{ctrl.looky.users[0].username}} {{ctrl.looky.caption}}</p>
      <p class="show_tags">
      <span ng-repeat="tag in ctrl.thetags">{{ctrl.tag}}</span>
      </p>
    </div>
    <div class="show_thecomments">
      hihihihihihi
    </div>
  </div>
</div>
