<div class="container">

<nav ng-include="'/partials/nav.html'"></nav>

<div class="middle">
<h1>@{{ctrl.user.username}}</h1>
<h2 class="prolooks" onclick="profilePosts()">posts ▶</h2>
<h2 class="proposts" onclick="profileLooks()">looks ▼</h2>
</div>

<div class="bottom">
  <div class="profile_left">
    <div class="profile_pic">
      <img src="{{ctrl.user.avatar}}">
    </div>
  </div>
  <div class="profile_right">
    <div class="profile_looks" ng-repeat="looks in ctrl.currentPosts | orderBy:'updated_at':true">
      <img ng-click="ctrl.getOne(looks.look.id)" onclick="openShow()" src="{{looks.look.image}}">
    </div>
  </div>

  <div class="profile_right_posts">
    hihihih
  </div>
</div>

<div class="background_filter"></div>
<div class="color_filter"></div>
<div class="new_modal" ng-include="'/partials/newmodal.html'"></div>
<div class="show_modal" ng-include="'/partials/onelook.html'"></div>



</div>
