<div class="container">

<nav ng-include="'/partials/nav.html'"></nav>

<div class="middle">
<h1>@{{ctrl.user.username}}</h1> looks▶

<form ng-submit="ctrl.processForm()">
    <input type = "text" ng-model="ctrl.formdata.image" placeholder="Image URL">
    <input type = "text" ng-model="ctrl.formdata.caption" placeholder="Caption">
    <input type="hidden" ng-model="ctrl.formdata.user.id">
    <input type="text" ng-model="ctrl.formdata.tags" placeholder="Tags">
    <button type="submit">➡</button>
</form>
</div>

<div class="bottom">
  <div class="profile_left">
    <img src="{{ctrl.user.avatar}}">
  </div>
  <div class="profile_right">
    <div ng-repeat="looks in ctrl.currentPosts[0] | orderBy:'updated_at':true">
      <img src="{{looks.look.image}}">
    </div>
  </div>
</div>

</div>
