<div class="container">

<nav ng-include="'/partials/nav.html'"></nav>

<div class="search_area">
  <form>
    <div class="searching">
      <input type="text" placeholder="search keyword"/>
      <input type="text" placeholder="location"/>
    </div>
    <div class="search_hs">
        <input class="left" type="button" class="" value="HAIR" onclick=""/>
        <input class="right" type="button" class="" value="STYLIST" onclick=""/>
    </div>
    <div class="search_specialty">
        <input type="button" class="" value="BARBERING" onclick=""/>
        <input type="button" class="" value="CUT" onclick=""/>
        <input type="button" class="" value="COLOR" onclick=""/>
        <input type="button" class="" value="STYLING" onclick=""/>
    </div>
    <div class="search_enjoy">
        <input type="button" class="" value="BALAYAGE" onclick=""/>
        <input type="button" class="" value="BLEACH & TONE" onclick=""/>
        <input type="button" class="" value="HIGHLIGHTS" onclick=""/>
        <input type="button" class="" value="TINT" onclick=""/>
    </div>
  </form>
</div>
hi {{ctrl.user.username}}
<div ng-repeat="look in ctrl.looks | orderBy:'updated_at':true">
<img src="{{ look.image }}">
<div>









      <!--  -->
